@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<div>
    <div >
        <h2 class="text-center">Giới thiệu về CellphoneS (Fake)</h2>
        <p>
            Là công ty hoạt động trong lĩnh vực bán lẻ và sửa chữa các sản phẩm công nghệ và lĩnh vực truyền thông giải trí bao gồm 3 công ty thành viên CellphoneS - Điện thoại vui - Smedia và chuỗi trung tâm bảo hành Apple AASP với quy mô hơn 2.000 nhân viên:
        </p>
        <strong><h5>CellphoneS (Fake)</h5></strong>
        <p>
            Sau hơn 10 năm vận hành và phát triển không ngừng, hệ thống bán lẻ CellphoneS liên tục mở rộng với chuỗi hơn 100 cửa hàng trên toàn quốc và tự hào là 1 trong 5 hệ thống lớn nhất tại Việt Nam trong lĩnh vực công nghệ.
        </p>
        <img src="https://cdn.cellphones.com.vn/media/wysiwyg/TT_Laptop_Smarthome-18.jpeg" style="width:50%; height:50%;"/>
    </div>
</div>