@model Assignment.Models.Data.User

@{
    ViewData["Title"] = "ForgotPassWord";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
        <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>Forgot Password?</h5>
                        <p class="mb-2">
                            Enter your registered email ID to reset the password
                        </p>
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email:</label>
                            <input type="email" asp-for="Email" id="email" class="form-control" name="email" placeholder="Enter Your Email" required="">
                            <a href="@Url.Action("SendMail",new { mail = Model.Email})" class="btn btn-primary btn-sm">Send Mail</a>
                           @* <button type="submit" asp-controller="Account" asp-action="SendMail" class="btn btn-primary">Send Mail</button>*@
                        </div>
                        <div class="mb-3">
                            <label for="otp" class="form-label">Nhập mã OTP:</label>
                            <input type="text" id="otp" class="form-control" name="otp" placeholder="****" required="">
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                        <span>Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register">sign in</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>