@model Assignment.Models.Data.User

@{
    ViewData["Title"] = "ForgotPassWord";
    
}
<div class="container d-flex flex-column">
	<div class="row align-items-center justify-content-center
      min-vh-100 g-0">
		<div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
			<div class="card shadow-sm">
				<div class="card-body">
					<div class="mb-4">
						<h5>Forgot Password?</h5>
						<p class="mb-2">
							Enter your registered email ID to reset the password
						</p>
					</div>
					<form asp-action="ForgotPassWord" method="get">
						<div class="mb-3">
							<label for="Password" class="form-label">Password :</label>
							<input type="text" asp-for="Password" id="email" class="form-control" name="email" placeholder="New Password" required="">

							<label for="Password" class="form-label">RePassword :</label>
							<input type="text" id="repassword" name="repassword" class="form-control" placeholder="RePassword" required="">

							@if (ViewBag.Error != null)
							{
								<div class="alert alert-danger" role="alert">
									@ViewBag.Error
								</div>
							}

							<button type="submit" asp-controller="Account" asp-action="ForgotPassWord" class="btn btn-primary">Save</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

